<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static//stylesheet/signUp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row d-flex" style="width: 100vw; height: 100vh">
            <!-- Left half container -->
            <div class="col grow-1 h-100 w-xs-100 w-md-50 d-flex justify-content-center align-items-center">
                <!-- Content Container -->
                <div class=" d-flex flex-column justify-content-between align-items-center" style="height: 40%; width: 70%">
                    
                    <!--Create Password text -->
                    <div class="text-center fs-1">Create Password</div>

                    <div class="greyline" style="width: 80%; height: 2px; background: lightgrey"></div>
                    <form action="/createPassword" name="signup" id="signup" method="POST" novalidate class="signup-form">
                        
                        <!-- Input fields container -->
                        <div class="d-flex flex-column justify-content-between" style="width: 80%; height: 12vh">
                            <!-- input tags -->
                            <input placeholder="Password" type="password" name='password' class="form-control" id="password" aria-describedby="emailHelp">
                            <input placeholder="Confirm Password" type="password" name="cnfpassword" class="form-control" id="cnfpassword" aria-describedby="emailHelp">
                        </div>


                    <form action="/createPassword" name="signup" id="signup" method="POST" novalidate class="signup-form">

                        <p id="conpasscheck" style="color: red; margin: 0; z-index: 1; overflow-y: hidden; position: relative;"> 
                                Password didn't match 
                             </p>
                            <br>
    
                        <button type="submit" class="w-75 btn btn-primary" style="background: #00446F 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 10px; opacity: 0.64;">Sign Up</button>
                    </form>
                </div>
            </div>
            
            <!-- Right half container  -->
            <div class="col d-none w-md-50 d-md-flex h-100">

                <img src="../static//images/Log.jpg" class="h-100 img-fluid">
            </div>
        </div>
    </div>
    <script>
 
        $(document).ready(function(){
            // Validate Confirm Password 
            $('#conpasscheck').hide(); 
            let confirmPasswordError = true; 
            $('#password').keyup(function () {
                validateRegex();
            })
            $('#cnfpassword').keyup(function () { 
                validateConfirmPasswrd(); 
            
            });
            
            // function validateRegex() {
            //     let password = $('#password').val();
            //     console.log(password)
            //     if(password.match(/^(?=.*\d)[a-z][a-z\d]{7,15}$/i)) {

            //     } else {
            //         $('#conpasscheck').show(); 
            //         $('#conpasscheck').html( 
            //             "Please use the correct format"); 
            //         $('#conpasscheck').css( 
            //             "color", "red"); 
            //     }
            // }
            function validateConfirmPasswrd() { 
                let confirmPasswordValue =  
                    $('#cnfpassword').val(); 
                let passwrdValue =  
                    $('#password').val(); 
                if (passwrdValue != confirmPasswordValue) { 
                    $('#conpasscheck').show(); 
                    $('#conpasscheck').html( 
                        "Password didn't Match"); 
                    $('#conpasscheck').css( 
                        "color", "red"); 
                    confirmPasswordError = false; 
                    return false; 
                } else { 
                    $('#conpasscheck').hide(); 
                } 
            } 
        });
        </script>
</body>
</html>